.App {
	text-align: center;
	padding-top: 20vh;
}

.App-logo {
	/* animation: App-logo-spin infinite 20s linear;
	height: 20vmin;
	pointer-events: none; */
	width: 40vw;
}

.App-title {
	margin-top: 30px;
	font-size: 35px;
	font-family: 'Roboto Slab', serif;
}

.home-button {
	width: 300px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}