.wrapper {
    min-height: 97vh;
    padding-top: 5vh;
}

.map-container {
    display: flex;
    height: 75vh;
}

.leaflet-container {
    width: 70%;
}

.info-container {
    background: #f7f1e3;
    overflow: scroll;
}

.preset-container, .result-container {
    width: 90%;
    margin: 0 5%;
}

.result-container {
    margin-top: 50px;
    margin-bottom: 20px;
}

.preset-wrapper {
    display: flex;
}

.preview-component {
    display: flex;
}

.file-input {
    border: #E3E3E3 1px solid;
    margin-top: -2px;
    width: 500px;
} 

.cal-button-panel {
    margin: 50px 0;
    text-align: center;
}

.img-preview img {
    width: 50px;
    height: 30px;
    margin-left: 20px;
    margin-top: -3px;
}

.house {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: red;
}

.hole {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: orange;
}

.water {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: green;
}

.ground {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: blue;
}

/* .leaflet-draw-draw-polygon {
    background: url('./static/pipeline.svg')!important;
    background-repeat: no-repeat!important;
    background-size: 25px 25px!important;
    background-color: #fff!important;
} */


.ag-cell {
    overflow: visible;
    white-space: normal;
    font-size: 1em;
    line-height: 1.2em!important;
    padding-left: 3px!important;
    padding-right: 3px!important;
    padding-top: 5px!important;
}

.ag-header-cell {
    font-size: 1em;
    padding-left: 3px!important;
    padding-right: 3px!important;
    overflow: visible;
}

.ant-select-selection--single {
    height: 1.2em;
}

.ant-select-dropdown--single {
    font-size: 0.8em;
    width: 150px!important;
}

.ant-select-selection-selected-value {
    font-size: 0.8em;
    line-height: 1em!important;
    padding-right: 0!important;
}

.ant-select-arrow {
    right: 3px!important;
}

