.wrapper {
    min-height: 97vh;
    padding-top: 5vh;
}

.map-container {
    display: flex;
    height: 75vh;
    width: 80%;
    margin: 0 10%;
}

.leaflet-container {
    width: 70%;
}

.info-container {
    background: #f7f1e3;
    width: 30%;
    overflow: scroll;
}

.preset-container, .result-container {
    width: 80%;
    margin: 0 10%;
}

.result-container {
    margin-top: 50px;
}

.preview-component {
    display: flex;
}

.file-input {
    border: #E3E3E3 1px solid;
    margin-top: -2px
} 

.cal-button-panel {
    margin: 50px 0;
    text-align: center;
}

.img-preview img {
    width: 50px;
    height: 30px;
    margin-left: 20px;
    margin-top: -3px;
}

.house {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: red;
}

.hole {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: orange;
}

.water {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: green;
}

.ground {
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background: blue;
}